//Fonts
$Avenir: "AvenirNext",
sans-serif;
//Colours
$green: rgb(125, 168, 10);
$light-green: rgba(125, 168, 10, 0.6);
$grey: #f8f8f8;
$transperent: rgba(0,0,0,0);
//Widthes
$maw: 960px;

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
}

//Base Flex Element
%flex {
    display: flex;
    flex-wrap: wrap;
}

//LIST
%ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

//WRAPPER
.wr {
    max-width: $maw;
    margin: 0 auto;
    position: relative;
    padding: 50px;
}

//Base a tag
a {
    font-family: $Avenir;
    font-size: 16px;
    text-align: right;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

a:hover {
    color: $green;
    text-decoration: underline;
}

//base h1
h1 {
    font-family: $Avenir;
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 300;
    color: $green;
    text-align: center;
}

h1::after {
    content: " ";
    display: block;
    width: 280px;
    height: 1px;
    background: $green;
}

//base h2
h2 {
    font-family: $Avenir;
    font-size: 24px;
    font-weight: 100;
    color: $green;
    text-align: none;
}

h2::after {
    content: " ";
    display: block;
    width: 400px;
    height: 1px;
    background: $green;
}

h3{
    @extend h2;
    font-size: 17px;
    font-weight: 00; 
    color: black;
    
}

h3::after{
    width: 0;
}

//Base p
p {
    font-family: $Avenir;
    font-size: 16px;
    font-weight: 100;
    color: black;
}

//Base btn - Button
.btn {
    font-family: $Avenir;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 00;
    color: white;
    background-color: $green;
    border-radius: 90px;
    padding: 5px 15px 5px 15px;
    text-decoration: none;
    text-align: center;
    border: 0px;
    cursor: pointer;
}

.btn:hover {
    //    background-color: white;
    color: white;
    text-decoration: none;
}

//Base btn2
.btn2 {
    @extend .btn;
    color: $green;
    border: 1px solid $green;
    background-color: $transperent;
}

.btn2:hover {
     color: $green;
}