//Fonts
$Avenir: "AvenirNext",
sans-serif;
//Colours
$green: rgb(125, 168, 10);
$light-green: rgba(125, 168, 10, 0.6);
$grey: #f8f8f8;
$transperent: rgba(0,0,0,0);
//Widthes
$maw: 960px;

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
}

//Base Flex Element
%flex {
    display: flex;
    flex-wrap: wrap;
}

//LIST
%ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

//WRAPPER
.wr {
    max-width: $maw;
    margin: 0 auto;
    position: relative;
    padding: 50px;
}

//Base a tag
a {
    font-family: $Avenir;
    font-size: 16px;
    text-align: right;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

a:hover {
    color: $green;
    text-decoration: underline;
}

//base h1
h1 {
    font-family: $Avenir;
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 300;
    color: $green;
    text-align: center;
}

h1::after {
    content: " ";
    display: block;
    width: 400px;
    height: 1px;
    background: $green;
}

//base h2
h2 {
    font-family: $Avenir;
    font-size: 24px;
    font-weight: 100;
    color: $green;
    text-align: none;
}

h2::after {
    content: " ";
    display: block;
    height: 1px;
    background: $green;
}

h3{
    @extend h2;
    font-size: 17px;
    font-weight: 00; 
    color: black;
    
}

h3::after{
    width: 0;
}

//Base p
p {
    font-family: $Avenir;
    font-size: 16px;
    font-weight: 100;
    color: black;
}

//Base btn - Button
.btn {
    font-family: $Avenir;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 00;
    color: white;
    background-color: $green;
    border-radius: 90px;
    padding: 5px 15px 5px 15px;
    text-decoration: none;
    text-align: center;
    border: 0px;
    cursor: pointer;
}

.btn:hover {
    //    background-color: white;
    color: white;
    text-decoration: none;
}

//Base btn2
.btn2 {
    @extend .btn;
    color: $green;
    border: 1px solid $green;
    background-color: $transperent;
}

.btn2:hover {
     color: $green;
}
///////////////POPUP BASE
.popup {
    width: 960px;
    z-index: 100;
    justify-content: center;
    display: none;
    z-index: 100;
    top: 0 !important;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 50px auto;
    height: auto;
    z-index: 200;
    .content {
        width: $maw;
        height: 80vh;
        background: white;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        padding: 8px;
        //        display: none;
        h1 {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0px 0px 16px 0px;
        }
        h1::after {
            height: 6px;
            width: 80%;
            height: 4px;
            background: $light-green;
        }
        .hide {
            position: inherit;
            align-self: flex-end;
            cursor: pointer;
            background: url(../img/cross.png);
            width: 20px;
            min-height: 20px;
            background-size: cover;
            margin: 7px;
        }
        box {
            /////MOREINFO
            width: 80%;
            margin: auto;
            height: 85%;
            overflow: auto;
            padding-right: 80px;
            margin-left: 93px;
            margin-bottom: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: justify;
        }
    }
}

.overlay {
    background: rgba(0, 0, 0, 0.67);
    position: fixed;
    z-index: 99;
    //        display: block;
    display: none;
    top: 0;
    width: 100%;
    height: 100%;
}

///////////////////// 
.quote {
    align-items: center;
    display: inline-block;
    text-align: center;
    margin: 15px;
    p {
        font-style: italic;
        margin: 16px;
        color: $green;
        font-size: 18px;
        height: auto;
        position: relative;
        margin: 0;
    }
    img {
        width: 32px;
        margin-bottom: 10px;
    }
}

////Table Base
$innerWidth: 1px;
.table {
    border: 1px solid $green;
    margin: 5px;
    border-radius: 20px;
    padding: 5px;
    max-width: 500px;
    table {
        border-collapse: collapse;
        text-align: left;
        tbody {
            tr {
                td {
                    @extend p;
                    padding: 1px 5px;
                    border-bottom: $innerWidth solid $green;
                    border-collapse: collapse;
                }
                td:last-child {
                    text-align: right;
                }
                td:first-child {
                    border-right: $innerWidth solid $green;
                }
            }
            tr:last-child {
                td {
                    border-bottom: 0;
                }
            }
        }
    }
}

/////List Base
.list {
    @extend p;
    margin-top: 0;
    list-style: circle;
    li {
        margin: 12px;
        color: $green;
        span {
            color: black;
        }
    }
}
 
////////////////////